style.css
body {
    margin: 0;
    background: black;
    color: white;
    font-family: Arial;
    overflow: hidden;
}

canvas {
    display: none;
    background: #111;
    margin: auto;
    border: 2px solid white;
}

.center {
    text-align: center;
    margin-top: 80px;
}

#ending {
    display: none;
}

button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    background: #ff2d75;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #ff4e8e;
}

#finalImage img {
    width: 280px;
    margin-top: 20px;
    border-radius: 10px;
}
